/*Font downloaded from http://freefonts.co.il/ */
@font-face {
    font-family: 'abraham';
    src: url('../fonts/Abraham-Regular.woff') format('woff');
}
body {font-family: Arial;}
h1,h2,h3 {font-family: abraham, Arial;}